@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

body {
    background: #ddd;
    min-height: 100vh;
    position: relative;
}

header {
    display: flex;
    height: 10vh;
    background: #000;
    align-items: center;
}

#logo_img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 100%;
}

header h1 {
    color: #decfba;
    font-family: "Bebas Neue", sans-serif;
    font-size: 32px;
    font-weight: bolder;
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    margin-left: 1vh;
    overflow: hidden;
}

#sidebar {
    background: #decfbaee;
    height: 90vh;
    position: absolute;
    z-index: 2;
}

#menu_btn {
    width: 60px;
    background: #decfba;
    color: #000;
    font-size: 25px;
    margin: 15px;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#menu_btn:hover {
    background: #000;
    color: #decfba;
}

#menu_items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    list-style: none;
}

.menu-item {
    padding: 10px;
    cursor: pointer;
}

.menu-item:hover {
    background-color: #b9ad9c;
}

.menu-item a {
    color: #000;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
}

.open-sidebar {
    width: 0px;
    overflow: hidden;
}

.container {
    position: relative;
    width: 96vw;
    height: 262px;
    background-size: cover;
    background-position: initial;
    border-radius: 10px;
    margin-top: 10px;
    overflow: hidden;
}

.container a {
    text-decoration: none;
}

.container a h2 {
    position: absolute;
    top: 2px;
    left: 8px;
    margin-top: 5px;
    color: #06132d;
    padding: 3px;
}

.container a p {
    position: absolute;
    bottom: 2px;
    right: 8px;
    margin-bottom: 5px;
    background: #ffffffcc;
    color: #06132d;
    padding: 3px;
}

.acolhimento a h2 {
    background: #0cc6f5cc;
}

.cultura a h2 {
    background: #32a151cc;
}

.esporte a h2 {
    background: #f07518cc;
}

.evento a h2 {
    background: #790cb0cc;
}

.outros a h2 {
    background: #faed3ccc;
}

#sec1 {
    background-image: url(img/elis-reflexao-atemporal/capa.jpg);
}

#sec2 {
    background-image: url(img/elis-reflexao-atemporal/capa.jpg);
}